{% extends 'base.html' %}
{% block title %} İstatistikler{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="content" style="padding:10px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Kaynak Adresi</th>
          <th scope="col">Kısaltılmış Adres</th>
          <th scope="col">Oluşturma Tarihi</th>
          <th scope="col">Tıklanma Sayısı</th>
        </tr>
      </thead>
      <tbody>
        {% for item in obj%}
            <tr>
              <td>{{item.abb__source_url}}</td>
              <td>{{item.abb__destination_url}}</td>
              <td>{{item.day}}</td>
              <td>{{item.count}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}