{% extends 'base.html' %}
{% block title %} Url Kısaltma{% endblock %}
{% block content %}
{% include 'navbar.html'%}
<div style="padding:10px;">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
              <input type="text" id="source" name="source" class="form-control" placeholder="Source URL" required>
            </div>
            <button class="btn btn-sm btn-primary btn-block col-md-2" type="submit">Oluştur</button>
        </div>
    </form>

    {% if url %}
        <h5><a href="http://127.0.0.1:8000/r/{{url}}" target="_blank">Test et</a></h5>
        <h6>Paylaşılablir link ==> http://127.0.0.1:8000/r/{{ url }}</h6>
    {% endif %}
</div>
{% endblock content %}