{% extends 'base.html' %}
{% block title %} Anasayfa{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="content" style="padding:10px;">
    {% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Kaynak Adresi</th>
                <th scope="col">Oluşturma Tarihi</th>
                <th scope="col">Kısaltılmış Adres</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list%}
            <tr>
                <td>{{item.source_url}}</td>
                <td>{{item.created_date}}</td>
                <td><a href="http://127.0.0.1:8000/r/{{item.destination_url}}" target="_blank">http://127.0.0.1:8000/r/{{item.destination_url}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else%}
        <h6>Henüz oluşturulan bir kısaltma yok</h6>
    {% endif %}
</div>
{% endblock content %}
