{% extends 'base.html' %}
{% block title %} Login{% endblock %}

{% block content %}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}"/>

<form class="form-signin" method="POST">
{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal center">Hoşgeldiniz</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Kullanıcı Adı" required>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Parola" required>

    <button class="btn btn-lg btn-success btn-block" type="submit">Giriş Yap</button>
    <a class="btn btn-lg btn-primary btn-block" href="{% url 'register' %}" style="color:white; text-decoration:None">Kayıt Ol</a>

</form>

{% endblock content %}
