<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Anasayfa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="create-abbreviation">Yeni Link Oluşturma <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="created-abbreviation">Oluşturulan Kısaltmalar</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="statistics">İstatistikler</a>
      </li>
    </ul>
      <a class="btn btn-outline-danger my-2 my-sm-0" href="logout">Çıkış</a>
  </div>
</nav>
