{% extends 'base.html' %}
{% block title %} Kullanıcı Kaydı{% endblock %}
{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}"/>

<div style="padding:10px;">
    <h1 class="h3 mb-3 font-weight-normal center">Kullanıcı Kayıt Formu</h1>
    <form class="form-signin" method="POST" style="width:100%">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
        <div class="form-group">
            <input type="{% if field.label == 'Username' %}text{% else %}password{% endif %}" 
            name="{% if field.label == 'Username' %}username{% elif field.label == 'Password' %}password1{% elif field.label == 'Password confirmation' %}password2{% endif %}"
            class="form-control" id="{{ field.id_for_label }}" placeholder="{% if field.label == 'Username' %}Kullanıcı Adı{% else %}Parola{% endif %}">
            {{ field.errors }}
            <!-- {{ field}} -->
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Kayıt Ol</button>
        <a href="{% url 'login' %}" style="text-decoration:None; padding-left:60px;">Anasayfaya Dön</a>
    </form>
</div>
{% endblock content %}
